/*Webmaster 2018*/
body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: calibri;
	margin: 0px;
	margin-left: 100px;
	margin-right: 100px;
}

#menu {
	list-style-type: none;
	background-color: #000000;
	float: left;
	width: 110px;
	margin: 0;
	position: absolute;
	top: 0px;
	left: -150px;
	/*When the 'left' property is changed on the 'menu' class, make a 0.5 second transition
		with a constant (or linear) speed*/
	transition: left 0.5s linear;
}

	#menu a {
		text-decoration: none;
		color: #FFFFFF;
		display: block;
	}

#logo {
	display: block;
}
