/*Webmaster 2018*/
body {
	background-color: #FFFFFF;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #000000;
	font-family: calibri;
	margin: 0px;
	margin-left: 100px;
	margin-right: 100px;
}

#menu-btn {
	font-size: 300%;
	margin: 0%;
	float: right;
	/* Not including this causes a bug for the button... DON'T REMOVE IT */
	position: absolute;
	right: 5%;
	top: 5%;
}

ul.top-nav {
    list-style-type: none;
    margin: 100px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.1);
	display: block;
}

ul.top-nav li {float: left;}

ul.top-nav li a {
    display: block;
	color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.top-nav li a:hover:not(.active) {background-color: #FFF7;}

ul.top-nav li a.active {background-color: #4CAF50;}

ul.top-nav li.right {float: right;}

#main-header {
	text-align:center;
	display: block;
}

#logo {
	float: left;
	display: inline-block;
}
